# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# === Docker Compose ===

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:mailhog/docker-compose.mailhog.yml
COMPOSE_PROFILES=mailhog

# === Universal Dev Env ===

UDE_BASE_DOMAIN=dev.zone
UDE_NETWORK_NAME=universal-devenv
