# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === Docker Compose ===

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:ude/docker-compose.ude.yml
COMPOSE_PROFILES=ude

# === Universal Dev Env ===

UDE_NETWORK_NAME=universal-devenv
UDE_APPLICATION_ALIAS=jira-0001
